In [71]:
import pandas as pd
pd.options.display.float_format = '{:.0f}'.format
tokenId = '_metadata.json-2022-09-21T06-18-25'

In [72]:
metadata_df = pd.read_table(tokenId+'.tsv')
metadata_df.head()

,name,serial,figure,shoes,topping,hat,eyes,lefthand,righthand,feels
0,Hotdog Hustle Generation 2,1,Hotdog,BlackAdidas,Mustard,Raccoon,BlackRaybanSunglasses,BinxWiener,PeaceSign,Happy
1,Hotdog Hustle Generation 2,2,Hotdog,PurpleAdidas,BlueFannyPack444WithMustard,Raccoon,MintCateyeSunglasses,FingersWithFingers,FingersWithFingers,Happy
2,Hotdog Hustle Generation 2,3,Hotdog,PurpleMonsterSlippers,PinkFannyPackHDH,GoldTiara,Laughing,YellowFlowers,HulkHand,Happy
3,Hotdog Hustle Generation 2,4,Hotdog,BlackAdidas,RadFannyPackHDHWithMustard,GoldTiara,Laughing,FingersWithFingers,BinxWiener,Happy
4,Hotdog Hustle Generation 2,5,MutantDog,RadAdidas,RadFannyPack444,HiTrucker,Laughing,GreenMonster,PeaceSign,Happy

In [73]:
metadata_df.info()
metadata_df.columns.values.tolist()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2222 entries, 0 to 2221
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       2222 non-null   object
 1   serial     2222 non-null   int64
 2   figure     2222 non-null   object
 3   shoes      2222 non-null   object
 4   topping    2222 non-null   object
 5   hat        2222 non-null   object
 6   eyes       2222 non-null   object
 7   lefthand   2222 non-null   object
 8   righthand  2222 non-null   object
 9   feels      2222 non-null   object
dtypes: int64(1), object(9)
memory usage: 173.7+ KB

['name',
 'serial',
 'figure',
 'shoes',
 'topping',
 'hat',
 'eyes',
 'lefthand',
 'righthand',
 'feels']

In [74]:
column_list = [
 'figure',
 'shoes',
 'topping',
 'hat',
 'eyes',
 'lefthand',
 'righthand',
 'feels'
]

In [75]:

for column_name in column_list:
    df_norm = metadata_df[column_name].value_counts(ascending=True, normalize=True, dropna=False)
    df_count = metadata_df[column_name].value_counts(ascending=True, dropna=False)
    df_stat_table = pd.concat([df_norm, df_count], axis=1, join='inner')
    df_stat_table.set_axis(["percentage", "count"], axis=1, inplace = True)
    df_stat_table.loc['Column_Total'] = df_stat_table.sum(numeric_only=True, axis=0)
    df_stat_table['percentage'] = pd.Series(["{0:.2f}%".format(val * 100) for val in df_stat_table['percentage']], index = df_stat_table.index)
    print(df_stat_table)

             percentage  count
MutantDog         0.86%     19
GoldenDog         1.58%     35
Hotdog           97.57%   2168
Column_Total    100.00%   2222
                      percentage  count
BlueMonsterSlippers        3.60%     80
RadAdidas                  4.01%     89
PurpleMonsterSlippers      4.46%     99
NeonLowVans                4.77%    106
NeonHighVans               5.58%    124
BlackAdidas                6.62%    147
LeopardLowVans             8.01%    178
PinkHighVans               9.32%    207
PurpleAdidas               9.68%    215
PinkLowVans                9.77%    217
GreenAdidas               10.44%    232
BlueHighVans              11.66%    259
BlueLowVans               12.11%    269
Column_Total             100.00%   2222
                            percentage  count
RadFannyPack444WithMustard       1.67%     37
RadFannyPack444                  2.48%     55
PinkSundress                     2.66%     59
PinkFannyPack444                 2.93%     65
GreenMonsterPack                 3.56%     79
None                             3.69%     82
MintSundress                     3.96%     88
GreenMonsterPackWithMustard      4.23%     94
BlueMonsterPackWithMustard       4.86%    108
BlueMonsterPack                  5.54%    123
BlueFannyPack444                 5.94%    132
BlueFannyPack444WithMustard      6.39%    142
RadSundress                      6.44%    143
BlueFannyPackHDH                 6.93%    154
BlueFannyPackHDHWithMustard      7.29%    162
RadFannyPackHDHWithMustard       7.34%    163
PinkFannyPackHDH                 7.74%    172
RadFannyPackHDH                  8.10%    180
Mustard                          8.28%    184
Column_Total                   100.00%   2222
                    percentage  count
Raccoon                  4.55%    101
RainbowTrucker           5.63%    125
RedMonster               6.30%    140
RadTrucker               6.30%    140
YellowMonster            6.35%    141
SilverTiara              6.44%    143
GoofyUnicornTrucker      7.88%    175
UnicornTrucker           7.97%    177
HiTrucker                8.37%    186
HotdogTrucker            9.09%    202
GoldTiara               10.13%    225
Bunny                   10.49%    233
Flowers                 10.53%    234
Column_Total           100.00%   2222
                       percentage  count
RainbowStarSunglasses       3.92%     87
WhiteRaybanSunglasses       4.19%     93
PurpleCateyeSunglasses      5.54%    123
BlueFlowerSunglasses        6.17%    137
RedStarSunglasses           6.75%    150
MintCateyeSunglasses        8.46%    188
PinkFlowerSunglasses        9.59%    213
HbarSunglasses             10.08%    224
BlackRaybanSunglasses      10.40%    231
Laughing                   34.92%    776
Column_Total              100.00%   2222
                   percentage  count
YellowPepeTroll         2.16%     48
RadPepeTroll            3.06%     68
OrangeMonster           3.24%     72
GreenMonster            3.83%     85
Lifteeg                 5.27%    117
BinxWiener              5.63%    125
OrangePepeTroll         6.03%    134
RedFlowers              6.12%    136
FingersWithFingers      7.83%    174
YellowFlowers           8.51%    189
Soaker                  8.73%    194
GreenTRex               9.09%    202
PeaceSign               9.14%    203
HulkHand               10.08%    224
Empty                  11.30%    251
Column_Total          100.00%   2222
                   percentage  count
RedTRex                 0.50%     11
PurpleFlowers           1.22%     27
PurplePepeTroll         1.94%     43
RadPepeTroll            3.60%     80
GreenMonster            3.83%     85
OrangeMonster           4.59%    102
RedPepeTroll            5.36%    119
WhiteFlowers            6.30%    140
BinxWiener              6.80%    151
Toobetch                7.61%    169
FingersWithFingers      8.46%    188
PeaceSign               8.64%    192
Soaker                  9.59%    213
HulkHand               10.40%    231
Bubbles                10.44%    232
Empty                  10.76%    239
Column_Total          100.00%   2222
             percentage  count
Everything        0.54%     12
Perfect           0.86%     19
RainbowPuke       4.14%     92
Happy            94.46%   2099
Column_Total    100.00%   2222

In [76]:
#produce the stats tables
output_str = ""
for column_name in column_list:
    df_norm = metadata_df[column_name].value_counts(ascending=True, normalize=True, dropna=False)
    df_count = metadata_df[column_name].value_counts(ascending=True, dropna=False)
    df_stat_table = pd.concat([df_norm, df_count], axis=1, join='inner')
    df_stat_table.set_axis(["percentage", "count"], axis=1, inplace = True)
    df_stat_table.loc['Column_Total'] = df_stat_table.sum(numeric_only=True, axis=0)
    df_stat_table['percentage'] = pd.Series(["{0:.2f}%".format(val * 100) for val in df_stat_table['percentage']], index = df_stat_table.index)
    output_str = output_str + "\n\n" + column_name + ":\n" + df_stat_table.to_string()

output_str
#with open("0.0.848553_stats.txt", "w") as a_file:
#   a_file.write(output_str)

'\n\nfigure:\n             percentage  count\nMutantDog         0.86%     19\nGoldenDog         1.58%     35\nHotdog           97.57%   2168\nColumn_Total    100.00%   2222\n\nshoes:\n                      percentage  count\nBlueMonsterSlippers        3.60%     80\nRadAdidas                  4.01%     89\nPurpleMonsterSlippers      4.46%     99\nNeonLowVans                4.77%    106\nNeonHighVans               5.58%    124\nBlackAdidas                6.62%    147\nLeopardLowVans             8.01%    178\nPinkHighVans               9.32%    207\nPurpleAdidas               9.68%    215\nPinkLowVans                9.77%    217\nGreenAdidas               10.44%    232\nBlueHighVans              11.66%    259\nBlueLowVans               12.11%    269\nColumn_Total             100.00%   2222\n\ntopping:\n                            percentage  count\nRadFannyPack444WithMustard       1.67%     37\nRadFannyPack444                  2.48%     55\nPinkSundress                     2.66%     59\nPinkFannyPack444                 2.93%     65\nGreenMonsterPack                 3.56%     79\nNone                             3.69%     82\nMintSundress                     3.96%     88\nGreenMonsterPackWithMustard      4.23%     94\nBlueMonsterPackWithMustard       4.86%    108\nBlueMonsterPack                  5.54%    123\nBlueFannyPack444                 5.94%    132\nBlueFannyPack444WithMustard      6.39%    142\nRadSundress                      6.44%    143\nBlueFannyPackHDH                 6.93%    154\nBlueFannyPackHDHWithMustard      7.29%    162\nRadFannyPackHDHWithMustard       7.34%    163\nPinkFannyPackHDH                 7.74%    172\nRadFannyPackHDH                  8.10%    180\nMustard                          8.28%    184\nColumn_Total                   100.00%   2222\n\nhat:\n                    percentage  count\nRaccoon                  4.55%    101\nRainbowTrucker           5.63%    125\nRedMonster               6.30%    140\nRadTrucker               6.30%    140\nYellowMonster            6.35%    141\nSilverTiara              6.44%    143\nGoofyUnicornTrucker      7.88%    175\nUnicornTrucker           7.97%    177\nHiTrucker                8.37%    186\nHotdogTrucker            9.09%    202\nGoldTiara               10.13%    225\nBunny                   10.49%    233\nFlowers                 10.53%    234\nColumn_Total           100.00%   2222\n\neyes:\n                       percentage  count\nRainbowStarSunglasses       3.92%     87\nWhiteRaybanSunglasses       4.19%     93\nPurpleCateyeSunglasses      5.54%    123\nBlueFlowerSunglasses        6.17%    137\nRedStarSunglasses           6.75%    150\nMintCateyeSunglasses        8.46%    188\nPinkFlowerSunglasses        9.59%    213\nHbarSunglasses             10.08%    224\nBlackRaybanSunglasses      10.40%    231\nLaughing                   34.92%    776\nColumn_Total              100.00%   2222\n\nlefthand:\n                   percentage  count\nYellowPepeTroll         2.16%     48\nRadPepeTroll            3.06%     68\nOrangeMonster           3.24%     72\nGreenMonster            3.83%     85\nLifteeg                 5.27%    117\nBinxWiener              5.63%    125\nOrangePepeTroll         6.03%    134\nRedFlowers              6.12%    136\nFingersWithFingers      7.83%    174\nYellowFlowers           8.51%    189\nSoaker                  8.73%    194\nGreenTRex               9.09%    202\nPeaceSign               9.14%    203\nHulkHand               10.08%    224\nEmpty                  11.30%    251\nColumn_Total          100.00%   2222\n\nrighthand:\n                   percentage  count\nRedTRex                 0.50%     11\nPurpleFlowers           1.22%     27\nPurplePepeTroll         1.94%     43\nRadPepeTroll            3.60%     80\nGreenMonster            3.83%     85\nOrangeMonster           4.59%    102\nRedPepeTroll            5.36%    119\nWhiteFlowers            6.30%    140\nBinxWiener              6.80%    151\nToobetch                7.61%    169\nFingersWithFingers      8.46%    188\nPeaceSign               8.64%    192\nSoaker                  9.59%    213\nHulkHand               10.40%    231\nBubbles                10.44%    232\nEmpty                  10.76%    239\nColumn_Total          100.00%   2222\n\nfeels:\n             percentage  count\nEverything        0.54%     12\nPerfect           0.86%     19\nRainbowPuke       4.14%     92\nHappy            94.46%   2099\nColumn_Total    100.00%   2222'

In [77]:
#process the data for % and points then sort and rank
column_pts_lst = []

for column_name in column_list:
    metadata_df[column_name +'_perc'] = metadata_df[column_name].map(metadata_df[column_name].value_counts(normalize=True, dropna=False))
    metadata_df[column_name +'_pts'] = 1/metadata_df[column_name +'_perc']
    column_pts_lst.append(column_name +'_pts')

#column_pts_lst.append('total')
metadata_df['total_pts'] = metadata_df[column_pts_lst].sum(axis=1)

sorted_metadata_df = metadata_df.sort_values(by=['total_pts','serial'], ascending=(False,True)).reset_index()
sorted_metadata_df['rank'] = sorted_metadata_df.index + 1
sorted_metadata_df.drop('index', axis=1, inplace=True)

In [78]:
sorted_metadata_df.head(5)

,name,serial,figure,shoes,topping,hat,eyes,lefthand,righthand,feels,...,eyes_perc,eyes_pts,lefthand_perc,lefthand_pts,righthand_perc,righthand_pts,feels_perc,feels_pts,total_pts,rank
0,Hotdog Hustle Generation 2,89,Hotdog,PurpleMonsterSlippers,BlueFannyPack444WithMustard,GoldTiara,BlackRaybanSunglasses,RadPepeTroll,RadPepeTroll,Everything,...,0,10,0,33,0,28,0,185,304,1
1,Hotdog Hustle Generation 2,1689,Hotdog,RadAdidas,GreenMonsterPack,HotdogTrucker,Laughing,GreenMonster,RedTRex,Happy,...,0,3,0,26,0,202,1,1,297,2
2,Hotdog Hustle Generation 2,1919,Hotdog,PurpleMonsterSlippers,MintSundress,RainbowTrucker,PurpleCateyeSunglasses,Soaker,WhiteFlowers,Everything,...,0,18,0,11,0,16,0,185,297,3
3,Hotdog Hustle Generation 2,2221,Hotdog,RadAdidas,BlueMonsterPackWithMustard,HiTrucker,RedStarSunglasses,BinxWiener,RedTRex,Happy,...,0,15,0,18,0,202,1,1,294,4
4,Hotdog Hustle Generation 2,1633,Hotdog,BlueMonsterSlippers,BlueFannyPack444WithMustard,RainbowTrucker,BlueFlowerSunglasses,RedFlowers,Empty,Everything,...,0,16,0,16,0,9,0,185,289,5

In [79]:
sorted_metadata_df.to_csv(tokenId+'_processed.tsv', index=False, sep = '\t')
sorted_metadata_df.to_csv(tokenId+'_processed.csv', index=False)

with open(tokenId+'_stats.txt', "w") as a_file:
   a_file.write(output_str)